<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="UserName">
      <mat-error *ngIf="username.errors?.required && (username.dirty || username.touched)"> Email is required </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="Password">
      <mat-error *ngIf="password.errors?.required && (password.dirty || password.touched)"> Password is required </mat-error>
    </mat-form-field>
    <div class="button-container">
      <button type="submit" class="half-width" mat-raised-button color="primary">Log in</button>
    </div>
    <span class="error">{{loginError$ | async}}</span>
  </form>
</div>
